body {
    opacity: 0.5;
    background-image: url("file:///Users/zack/Desktop/UCB/portfolio/assets/css/assets/images/lamp.jpg");
    background-repeat: none;
}

#photo {
    width: 33%;
    height: 20%;
}

p {
    text-align: center;
}